APP_NAME=expressots-example
PORT=3000
NODE_ENV=development
LOG_LEVEL=INFO
REDIS_URL=redis://localhost:6379
CACHE_DRIVER=redis
CACHE_NAMESPACE=example-10
CACHE_DEFAULT_TTL_MS=0
CACHE_CAPACITY=1000
CACHE_REDIS_TIMEOUT_MS=2000
